body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url("contact page.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #b0b0b0;
}

.hire-me-form .form-group {
    margin-bottom: 15px;
}

.hire-me-form label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

.hire-me-form input,
.hire-me-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3d3d3d;
    color: #f0f0f0;
    font-size: 1em;
}

.hire-me-form input:focus,
.hire-me-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
}

.hire-me-form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #f0f0f0;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hire-me-form button:hover {
    background-color: #0056b3;
}
